@import 'src/assets/size';
@import 'src/assets/colors';
@import 'src/assets/breakPoints';

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $overlay_50;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px 20px;
  box-sizing: border-box;
}

.imageContainer {
  min-height: 200px;
  margin: 0;
  position: relative;

  .image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
  }

  .overlay {
    opacity: 0;
    transition: opacity ease 0.3s;

    svg {
      color: $white;
    }
  }
}

.imageContainer:hover {
  .overlay {
    opacity: 1;
    cursor: pointer;
  }
}

.textContainer {
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid $white_50;
  min-height: 125px;
  display: flex;
  text-align: left;
}

.root {
  border: 1px solid $white_50;
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  margin: $med $large;
  position: relative;
  box-sizing: border-box;
  box-shadow: $overlay_30 5px 15px 20px;
  border-radius: 0 0 5px 5px;
}

.cardFooter {
  border-top: 1px solid $white_50;
  padding: $small;
}

.titleContainer {
  padding: $small;

  h4 {
    margin: $small 0;
  }
}


@include mobile {
  .root {
    width: 100%;
  }
}

@include tablet {
  .root {
    width: 50%;
  }
}